body{
    display: grid;
    grid-template-columns: repeat(1fr 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "main main2"
    "area area2"
    "footer footer";
}

header{
    display: flex;
    flex-direction: column;
   grid-area: header;
   font-size: 20px;
   padding-top: 30px;
   padding-left: 30px;
   color: white;
}

main{
grid-area: main2;
margin-inline-start: auto;
padding-right: 100px;
padding-top: 30px;
}

input[type=text]{
    border-radius: 12px;
    border-color: gray;
    display: flex;
    height: 40px;
    width: 350px;
    flex-direction: column;
    margin-top: 50px;
    font-size: 25px;
}

input[type=password]{
    border-radius: 12px;
    border-color: gray;
    display: flex;
    height: 40px;
    width: 350px;
    flex-direction: column;
    margin-top: 50px;
    font-size: 25px;
}

button{
    width: 200px;
    color: white;
    border: solid white;
    border-radius: 10px;
    margin-left: 95px;
    margin-top: 40px;
    font-size: 20px;
    padding: 10px;
    background-color: blue;
    
}

h1{
    padding-left: 50px;
    font-size: 50px;
}

p{
    padding-left: 85px;
    padding-top: 15px;
    font: bolder;
}

 .img2{
    width: 40px;
    margin-inline: 20px;
    padding-left: 10px;
    padding-top: 10px;
 }

 body{
    height: 100vh;
  background:linear-gradient(
    to right,
    blue 0%,
    blue 50%,
    white 50%,
    white 100%
  );
 }

 header{
    padding-top: 60px;
 }

 #img1{
    grid-area: main2 ;
    width: 450px;
    position: center;
    padding-right: 700px;
    padding-top: 200px;
 }